h1{
    color: red;
    padding-top: 25px;
    text-align: center;background-color: bisque;

}
.div{
    text-align: center;
    background-color: black;
    color: white;
    padding-top: 40px;
}

